@{
    ViewData["Title"] = "Home";
}

<div class="text-center" style="border: 2px outset blue;color:black;  background-color: lightgray;">
    <br><br><br><br><h1 class="display-4">  Welcome to GIC  </h1>
    <h1 class="display-4"> <br> </h1><h1 class="display-4"> <br> </h1>
    <h2 class="display-4">Have a nice day with  Awesome GIC Banking experience.</h2>
    <br><br><br><br>
</div>
