@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center"><h2>@ViewData["Title"]</h2></div>

<div style="border: 2px outset blue;color:black;  background-color: lightgray;  text-align: left;">
    <br />   
          By using this project, you acknowledge and agree to the following terms regarding the use of its content and your privacy.
   <br />
    <ol>
        <li>
            <p>                Acceptance of Terms:<br />
            By accessing or using this project, you accept and agree to be bound by this privacy policy. If you do not agree, please do not use the project.
            </p>       
        </li>
        <li>
            <p>                Content Usage:<br />
            You agree not to copy, replicate, reproduce, or distribute any part or the entirety of this project by any means, including but not limited to electronic, mechanical, or any other method, without prior written permission.
            </p>
        </li>
        <li>
            <p>            Information Collection:<br />
            We may collect personal information that you provide voluntarily, such as your name, email address, and any other details you choose to share.
            </p>
        </li>
        <li>
            <p>                Use of Information:<br />
            The information collected may be used to improve our project, communicate with you, and provide updates regarding the project.
            </p>
        </li>
        <li>
            <p>                Data Security:<br />
            We implement reasonable security measures to protect your information from unauthorized access or disclosure.
            </p>
        </li>
        <li>
            <p>
                Changes to This Policy:<br />
            We may update this privacy policy from time to time. Any changes will be posted on this page with an updated effective date.
            </p>
        </li>
        <li>
            <p>                Contact Information:<br />
            If you have any questions or concerns about this privacy policy, please contact Selva at kumarsp0504@gmail.com.
            </p>
        </li>
    </ol>
    <div style="background-color: darkcyan;  text-align:center;">
        The project developed by selva for demo to GIC only.
        <br />
        Thank you for banking with AwesomeGIC Bank.
</div>
</div>